@model ileriWebVeriTabaniSoa.Models.Post

@{
    ViewData["Title"] = "Details";
}

<div>
    <h1>@Model.Title</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
    @if (Model.Likes != null && Model.Likes.Any())
    {
        <!-- Mevcut beğeniler -->
        <p>Bu postu <strong>@Model.Likes.Count()</strong> kişi beğendi.</p>
    }
    else
    {
        <p>Beğeni yok.</p>
    }
    <!-- Beğeni İşlemleri -->
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <!-- begeni ekleme formu kullanci giris yaptiysa gorunur -->
            <form asp-controller="Likes" asp-action="Create" method="post">
                <input type="hidden" name="PostID" value="@Model.Id" />
                <button type="submit" class="btn btn-primary">Begen</button>
            </form>

            <!-- dislike ekleme formu -->
            <form asp-controller="Likes" asp-action="LikeDelete" method="post">
                <input type="hidden" name="PostID" value="@Model.Id" />
                <button type="submit" class="btn btn-danger">Dislike</button>
            </form>
        }
    </div>
</div>

    <h2>Yorumlar</h2>

    @if (Model.Comments != null && Model.Comments.Any())
    {
        <!-- Mevcut yorumları listele -->
        @foreach (var comment in Model.Comments)
        {
            <div class="comment">
                <strong>@comment.User.Username</strong> : @comment.Content
            </div>
        }
    }
    else
    {
        <p>Yorum yok.</p>
    }
    
    @if (User.Identity.IsAuthenticated)
    {
        <!-- Yorum ekleme formu kullanci giris yaptiysa gorunr -->
        <form asp-controller="Comments" asp-action="Create" method="post">
            <div class="form-group">
                <label for="Content">Yorum:</label>
                <textarea id="Content" name="Content" class="form-control" required></textarea>
            </div>

            <input type="hidden" name="PostID" value="@Model.Id" />

            <button type="submit" class="btn btn-primary">Yorumu Gönder</button>
        </form>
    }




